/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1157da;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.logo {
    flex-grow: 1; /* Allow the logo to take up available space on the left */
    display: flex;
    align-items: center;
}

/* Breathing animation for the logo */
@keyframes breathe {
    0% {
        transform: scale(1) rotate(0deg);
    }
    40% {
        transform: scale(1.1) rotate(0deg);
    }
    45% {
        transform: scale(1.1) rotate(5deg); /* Increase the tilt angle to 5 degrees */
    }
    50% {
        transform: scale(1.1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.logo img {
    max-height: 120px; /* height */
    animation: breathe 6s infinite; /* Apply the animation every 5 seconds */
}

/* Center the menu items */
.menu {
    flex-grow: 2; /* Allow the menu to take up available space on the right */
    display: flex;
    justify-content: center; /* Center the menu items horizontally */
    align-items: center; /* Center the menu items vertically */
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 250px; /* Add space between the menu items */
    position: relative;
}

/* Apply specific styles to the "Priser" menu item */
.menu li:last-child {
    margin-right: 10px; /* Adjust the margin to move "Priser" to the left */
}

.menu li:not(:last-child)::after {
    content: '|';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    color: #000;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/* Style the footer */
footer {
    background-color: #1157da;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
    position: fixed; /* Position the footer as a fixed element */
    bottom: 0; /* Stick it to the bottom of the viewport */
    width: 100%; /* Make it stretch the full width */
}

.footer-content {
    width: 100%;
    text-align: center;
}

.inquiries {
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.social-icons {
    margin-top: 10px;
    text-align: right;
}

.social-icon img {
    max-height: 30px; /* You can adjust the max height of the icons as needed */
    max-width: 30px; /* You can adjust the max width of the icons as needed */
    margin-right: 40px; /* Add margin to the right of the social media icons */
}

.copyright {
    font-size: 14px;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1157da; /* Match the header background color */
    color: #ffffff; /* Text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Adjust the width as needed */
    text-align: center; /* Center text horizontally */
    margin: 15px auto top; /* Center the login box vertically */
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container label {
    font-weight: bold;
}

.login-container input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ffffff; /* Match the header/footer text color */
    background-color: #1157da; /* Match the background color */
    color: #ffffff;
}

.login-container button {
    background-color: #ffffff; /* Button background color */
    color: #1157da; /* Button text color */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button full width */
}


.phone-number {
    color: #ffffff;
    text-decoration: none; /* Prevent the blue link underline */
}